[Unit]
Description=cowrie
After=default.target

[Service]
ExecStart=/home/cowrie/cowrie/bin/cowrie start
ExecStop=/home/cowrie/cowrie/bin/cowrie stop
User=cowrie
Group=cowrie

[Install]
WantedBy=multi-user.target
