[Unit]
Description=dionaea
After=default.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/opt/dionaea/bin/dionaea
User=root
Group=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

