[Unit]
Description=dionaea
After=default.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/opt/dionaea/bin/dionaea
ExecStop=/bin/kill -s SIGTERM $MAINPID
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
