[Unit]
Description=TestHoneypot Service
After=default.target

[Service]
ExecStart=/usr/bin/python /home/os/TestHoneypot/service/main.py
WorkingDirectory=/home/os/TestHoneypot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=os

[Install]
WantedBy=multi-user.target
