[Unit]
Description=Honeypot wep Service
After=network.target dionaea.service

[Service]
User=root
Group=root
ExecStart=/home/os/TestHoneypot/service/honeypot.sh

[Install]
WantedBy=multi-user.target
