<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dionaea Index Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body {
            padding-top: 20px;
        }
        #chart {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .chart-container {
            width: 60%;
        }
    </style>
</head>
<body>
    {% block content %}
        <div class="container">
            <h2 class="mt-5 mb-4 text-center">Dionaea Index Page</h2>

            <div id="chart" class="chart-container">
                <img src="{{ url_for('show_pie_chart') }}" alt="Pie Chart" class="img-fluid">
            </div>
        </div>
    {% endblock %}
</body>
</html>
