<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </script>
    
    {% extends 'home.html' %}
</head>
<body>
    {% block content %}
    
    <div class="container" id="content">
        <h2 class="mt-5 mb-4">History</h2>
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Alert</th>
                    <th style="width: 10%;">Date</th>
                    <th style="width: 10%;">Time</th>
                    <th>IP_ATK</th>
                    <th>IP_SERVER</th>
                    <th>PROTOCOL</th>
                    <th>COMMENT</th>
                </tr>
            </thead>
            <tbody id="data-table-body">
                {% for item in data['data'] %}
                    <tr>
                        <td>{{ item['type'] }}</td>
                        <td>{{ item['alert'] }}</td>
                        <td>{{ item['date'] }}</td>
                        <td>{{ item['time'] }}</td>
                        <td>{{ item['ip_attacker'] }}</td>
                        <td>{{ item['ip_server'] }}</td>
                        <td>{{ item['protocol'] }}</td>
                        <td>{{ item['comment'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    <!--		Start Pagination -->
	<div class='pagination-container' >
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/pagination.js') }}"></script>
		<nav>
			<ul class="pagination">
            
                <li data-page="prev" >
						<span>  <span class="sr-only">(current)</span></span>
				</li>
				<!--Here the JS Function Will Add the Rows -->
                <li data-page="next" id="prev">
				<span> > <span class="sr-only">(current)</span></span>
				</li>
			</ul>
		</nav>
	</div> <!-- 		End of Container -->

    </div>
    {% endblock %}
</body>
</html>
