<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% extends 'home.html' %}
    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    {% block content %}
    
    <div class="container" id="content">
        <h2 class="mt-5 mb-4">History</h2>

        <form method="post" action="{{ url_for('History') }}">
            <label for="selected_date">Select Date:</label>
            <input type="date" id="selected_date" name="selected_date" value="{{ selected_date }}">
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Alert</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>IP Attacker</th>
                    <th>IP Server</th>
                    <th>Protocol</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data['data'] %}
                    <tr>
                        <td>{{ item['type'] }}</td>
                        <td>{{ item['alert'] }}</td>
                        <td>{{ item['date'] }}</td>
                        <td>{{ item['time'] }}</td>
                        <td>{{ item['ip_attacker'] }}</td>
                        <td>{{ item['ip_server'] }}</td>
                        <td>{{ item['protocol'] }}</td>
                        <td>{{ item['comment'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            {{ pagination.links }}
        </div>
    </div>
    
    {% endblock %}
</body>
</html>
