{% extends 'home.html' %}

{% block content %}
<div class="container" id="content">
    <h2 class="mt-5 mb-4">History</h2>

    <form method="post" action="{{ url_for('History') }}">
        <div class="form-group">
            <label for="selected_date">Select Date:</label>
            <input type="date" id="selected_date" name="selected_date" value="{{ selected_date }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-honey">Filter</button> <!-- ปุ่ม Filter สีสีน้ำผึ้ง -->
    </form>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Type</th>
                <th>Alert</th>
                <th>Date</th>
                <th>Time</th>
                <th>IP Attacker</th>
                <th>IP Server</th>
                <th>Protocol</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody id="data-table-body">
            {% for item in data['data'] %}
                <tr>
                    <td>{{ item['type'] }}</td>
                    <td>
                        {% if item['alert'] == "RED!" %}
                            <span class="circle red-circle"></span>
                        {% elif item['alert'] == "YELLOW!" %}
                            <span class="circle yellow-circle"></span>
                        {% elif item['alert'] == "ORANGE!" %}
                            <span class="circle orange-circle"></span>
                        {% else %}
                            {{ item['alert'] }}
                        {% endif %}
                    </td>
                    <td>{{ item['date'] }}</td>
                    <td>{{ item['time'] }}</td>
                    <td>{{ item['ip_attacker'] }}</td>
                    <td>{{ item['ip_server'] }}</td>
                    <td>{{ item['protocol'] }}</td>
                    <td>{{ item['comment'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{ pagination.links | safe }}
        </ul>
    </div>
</div>
{% endblock %}
