<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
    <style>
        .navbar {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            padding: 20px 10px;
        }

        .navbar-brand {
            font-size: 1.5rem;
        }

        .nav-link {
            font-size: 1.2rem;
        }

        .content {
            margin-top: 100px; /* เพิ่ม padding ให้มีพื้นที่พอสำหรับ navbar */
            padding: 20px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Honeypot For Home Network Security</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cowrie">Cowrie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dionaea">Dionaea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Monitor">Monitoring</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/History">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="content">
        <!-- แทนที่เนื้อหา tab ด้วย include ของ Flask Template -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- ลิงก์ไปยังไฟล์ JavaScript ของ Bootstrap และ jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
