<!DOCTYPE html>
{% extends 'home.html' %}

{% block content %}
<h2 class="mt-5 mb-4">Cowrie Index Page</h2>
<form id="cowrieForm" action="/ShowtableCowrie" method="POST">
    <label for="selection">Select an Option:</label>
    <select name="selection" id="selection">
        <option value="username">Top Username</option>
        <option value="password">Top Password</option>
    </select>
</form>

<div id="chart"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    const formElement = document.getElementById("cowrieForm");
    const selectElement = document.getElementById("selection");

    function fetchDataAndPlot() {
        fetch('/ShowtableCowrie', {
            method: 'POST',
            body: new FormData(formElement)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Received data:', data); // แสดงข้อมูลที่ได้รับใน console

            if (!Array.isArray(data)) {
                console.error('Received data is not an array:', data);
                return; // ออกจากฟังก์ชันหากข้อมูลที่ได้รับไม่ใช่ array
            }

            const xValues = data.map(item => item.value);
            const yValues = data.map(item => item.count);

            const trace = {
                x: xValues,
                y: yValues,
                type: 'bar'
            };

            const layout = {
                title: 'Top 20 ' + selectElement.value.charAt(0).toUpperCase() + selectElement.value.slice(1),
                xaxis: {
            title: selectElement.value.charAt(0).toUpperCase() + selectElement.value.slice(1)
                },
                yaxis: {
                    title: 'Count'
                }
            };

            Plotly.newPlot('chart', [trace], layout);
        })
        .catch(error => {
            console.error('Error fetching data:', error); // แสดงข้อผิดพลาดในการเรียกข้อมูล
        });
    }

    selectElement.addEventListener("change", fetchDataAndPlot);

    // Initial fetch and plot
    fetchDataAndPlot();
</script>


{% endblock %}
