<!DOCTYPE html>

{% extends 'home.html' %}

{% block content %}
<h2 class="mt-5 mb-4">Cowrie Index Page</h2>
<form id="cowrieForm" action="/ShowtableCowrie" method="POST" class="form-group">
    <label for="selection" class="mb-2">Select an Option:</label>
    <select name="selection" id="selection" class="form-control form-control-lg">
        <option value="username">Top Username</option>
        <option value="password">Top Password</option>
    </select>
</form>

<div id="chart"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    const formElement = document.getElementById("cowrieForm");
    const selectElement = document.getElementById("selection");

    function fetchDataAndPlot() {
        fetch('/ShowtableCowrie', {
            method: 'POST',
            body: new FormData(formElement)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Received data:', data); // แสดงข้อมูลที่ได้รับใน console

                if (!Array.isArray(data)) {
                    console.error('Received data is not an array:', data);
                    return; // ออกจากฟังก์ชันหากข้อมูลที่ได้รับไม่ใช่ array
                }

                // แปลงค่าที่จะนำไปใช้ใน Plotly ให้เป็น string
                const xValues = data.map(item => item.value.toString());
                const shortxValues = data.map(item => item.value.toString().slice(0, 10));
                const yValues = data.map(item => item.count.toString());

                const trace = {
                    x: shortxValues,
                    y: yValues,
                    text: xValues,
                    type: 'bar',
                    hoverinfo: 'text+y+name+none',
                    marker: {
                        color: '#76ABAE', // กำหนดสีของแท่งเป็นสีไข่อ่อน
                        opacity: 0.7 // กำหนดความโปร่งแสงของแท่ง (ระหว่าง 0 ถึง 1)
                    }
                };

                const layout = {
                    title: 'Top 10 ' + selectElement.value.charAt(0).toUpperCase() + selectElement.value.slice(1),
                    xaxis: {
                        title: selectElement.value.charAt(0).toUpperCase() + selectElement.value.slice(1),
                        automargin: true // Allow automatic margin adjustment
                    },
                    yaxis: {
                        title: 'Count'
                    }
                };

                Plotly.newPlot('chart', [trace], layout);

            })
            .catch(error => {
                console.error('Error fetching data:', error); // แสดงข้อผิดพลาดในการเรียกข้อมูล
            });
    }

    selectElement.addEventListener("change", fetchDataAndPlot);

    // Initial fetch and plot
    fetchDataAndPlot();
</script>

<style>
    .form-group {
        width: 100%;
    }
    
    .form-control-lg {
        width: 100%;
        font-size: 1.25rem;
        padding: .5rem 1rem;
    }
</style>

{% endblock %}
